body{
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
}

.menu-bar{
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
}
#menu{
	width: 35px;
	height: 30px;
	margin: 30px 20px 20px 20px;
	cursor: pointer;
	float: right;
	
}
.bar{
	
	width: 35px;
	height: 5px;
	transform: translateX(30%);
	background-color: #000000;
	display: flex;
	border-radius: 1px;
	transition: all 0.5s ease-in-out;
}
#bar1{
	transform: translateY(-8px);
}
#bar2{
  width: 20px;
  left: 0;
  align-items: center;
}
#bar3{
	transform: translateY(8px);
}
.nav li a{
	transform: translateX(50%);
	color: rgb(5, 5, 5);
	font-size: 4em;
	font-weight: bold;
	text-decoration: none;
}
.nav li a{
	z-index:  9;
	filter: blur(5px);

	/*Color inactive navigation link*/
	color: white;
	transition: all 0.5s ease-in-out;
}

.nav li a.active{
	filter: blur(0px);
	font-size: 5em;
	/*color of active navigation link */
	color: white;
}

#nav.nav li a:hover{
	/*color of navigation link on hover*/
	/*you can change this to a different shade of the active color to have a slight hover effect */
	color: rgb(255, 255, 255);
	filter: blur(0px);
	font-size: 5em;
	font-weight: bold;
	text-decoration: none;
}

.nav li{
	list-style: none;
	padding: 16px 0;
}
.nav{
	padding: 0;
	margin: 0 20px;
	transition: all 0.5s ease-in-out;
	display: none;
}
.menu-bg, #menu-bar{
	top: 0;
	right: 25;
	position: absolute;
}
.menu-bg{
	z-index: -1;
	width: 100vw;
	height: 100vh;
	display: none;
	transition: all 0.5s ease-in-out;
}
#menu-bar{
	z-index: 3;
	top: 0;
	left: 0;
	position: absolute;
	background: white;
	overflow-x: hidden;
}
.menu .overlay{
	z-index: 9;
	opacity: 0.7;
	background: black;
}
.change-bg{
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.4);
	left: 0;
	display: block;
}
.change .bar{
	background-color: black;
	right: 10;
}
.change #bar1, #bar3{
	content: '';
	transition: all 0.5s ease-in-out;
}
.change #bar1{
	transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3{
	transform: translateY(-6px) rotate(45deg);
}
.change #bar2{
	opacity: 0;
}
.change{
	display: block;
	align-items: center;
}

.nav.change{
	margin-left: auto;
	margin-right: auto;
	height: 100vh;
	justify-content: center;
	display: grid;
	text-align: center;
}


#menu-bar.change{
	width: 100vw;
	height: 100vh;
	display: flow-root;
}

